root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{fs,fsx}]
indent_size = 4
max_line_length = 120

# Break |> chains aggressively onto multiple lines.
# fsharp_max_infix_operator_expression = 1
